body {
    background:url("ai.jpg") no-repeat center center/cover  ;
    font-family: Arial, sans-serif;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.form-container {
    background-image:url('ai.jpg') ;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow:auto;
    width: 500px;
    
    background-color:rgba(0, 0, 0, 0.5) ;
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.5);
    align-items: center;
}
/* sign up text */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #012ef8;
    }
    
.form-group {
 padding: 12px;
 margin: 10px;
 outline: none;
 border: none;
 border-radius: 20px;
 


    

}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fdf8f8;
}
.form-group input {
    width: 70%;
    padding: 10px;
    border: px solid #304fdd;
    border-radius: 6px;
    align-items: center;
}
.form-actions {
    display: flex;
    justify-content: space-between;
}
.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.form-actions .register {
    background-color: #42b72a;
    color: #ffffff;
}
.form-actions .login {
    background-color: #1877f2;
    color: #fdf8f8;
}
.form-actions .register:hover {
    background-color: #36a420;
}
.form-actions .login:hover {
    background-color: #155dca;
}
 
.error-message {
    color: rgb(247, 12, 12);
    display: none;
    margin-bottom: 15px;

    padding: 10px;
}


